/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.

/* 
  cabecera,logo de pagina,menucabecera
*/
.cabecera{
    width: 100%;
    text-align: center; 
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection { 
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

audio,canvas,iframe,
img,svg,video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    margin: auto;
    width: 1450px;
    
    -webkit-box-shadow: 0px 0px 96px -2px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 96px -2px rgba(0,0,0,1);
    box-shadow:  0px 0px 96px -2px rgba(0,0,0,1);
    border: 2px solid #000;
}

.wrapper {
     width: 100%;
    margin: 0 1%;
}

.header-container {
    border-bottom:  2px solid #000;
    border-top: 2px solid #000;
}

.footer-container {
    text-align: center;
    border-top: 2px solid #000;
}

.header-container,
.footer-container {
    background: #18A7E0;
}

nav {
    margin: auto;
    width: 90%;
    padding: 20px;
    list-style-type: none;
    padding-bottom: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


li#li1 {
    float: left;
    overflow: hidden;
    font-size: 20px;

}
li#li2 {
    float: right;
    overflow: hidden;
    font-size: 20px;

}

li#li3 {
    float: right;
    overflow: hidden;
    font-size: 30px;

}
li a {
    display: block;
    color: white;
    text-decoration: none;
}
div.barra{
    position: absolute;
    -webkit-transition: width 1.2s;
}

.menu{
    margin:auto;
    position: relative;
    padding:16px;
    padding-right: 10px;
    float:right;
    color:white;
    font-size: 1.5em;

}

.menu:hover {
    background-color:black;
}

::-webkit-input-placeholder{
    color: #e2e2e2;
    text-align: left;
    opacity: .9;
}

li:hover p.menu{
    opacity: 1;
}   

.main {
    padding: 30px 0;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

.header-container,
.main aside{
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
}



.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

form input{
    font-size: 25px;
    width: 80%;
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
    font-family : inherit;
    color: black;

}


/**DIV del Navegador lateral drch**/
#columdercha{
    margin-top: 80px;
    width: 1380px;
    text-align: center;
    margin-left: 20px;
    height: 900px;


}

/* 
    cuadro para mostrar todos los articulos del usuario
*/
.articulos{

    margin-top: 25px;
    height: 600px;
    float:left;
    width: 1335px;
    margin-left: 20px;
    text-align: center;

}

.tabla{ 
    margin:auto;
    width: 100%;
    text-align: center;
}


.titulos{
    text-align: center;
    height: 5px;
}

.columnas1{
    border: 1px solid #000000;
    width: 1px;
}

.columnas2{
    border: 1px solid #000000;
    width: 75%;
}
.columnas3{
    border: 1px solid #000000;
    width: 10px;
}

.unArticulo{
    text-align: center;
    height: 5px;
}

.columnasArt1{
    border: 1px solid #000000;
    width: 1px;
}

.columnasArt2{
    border: 1px solid #000000;
    width: 75%;
}
.columnasArt3{
    border: 1px solid #000000;
    width: 10px;
}


input#buscador{
    margin-top: 40px;
    float: left;
    width:290px;
    height:50px;
    outline: none;
    margin-left: 300px;
    color: black;
    font-size: 1.2em;
    text-align: left;
    padding-right:15px;

}

::-webkit-input-placeholder{
    color: #000;
    text-align: left;
    opacity: .5;
}

li:hover p.menu{
    opacity: 1;
}
#listcategoria{
    margin-top: 40px;
    margin-left: 135px;
    width: 80%;
    height:55px;
    outline: none;
    color: black;
    font-size: 1.2em;
    padding-right:15px;

}

#verArticulo{
    
    margin-top: 100px;
    
    
}

#imagArt{
    height: 280px;
    width: 280px;
    border-style:dashed;
    margin-top: 40px;
    margin: 0 auto;
    outline: none;
    color: black;
    font-size: 1.2em;
    text-align: right;
    background-size: 200px;
    background-image: url(../img/subirImg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: background-position .2s;
    opacity: .6;
}

#imgArt:focus{
    background-position: 900px 15px;
}
#texto{
    
   
    margin-top: 10px;
    font-size: 30px;
}
#tituloArt{
 
    padding: 10px;
    margin: 10px;
}
#descripcion{

    padding: 10px;
    margin: 10px;
}
#precio{
  
    padding: 10px;
    margin: 10px;
}
#categ{
  
    padding: 10px;
    margin: 10px;
}

.menux{
    margin:auto;

    padding:8px;

    float:right;
    color:white;

}


.boton {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 200px;
}

.boton:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

#buscar{
    margin-left:  610px;
    margin-top: 40px;
    float: left;
    
}

