/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.

/* 
  cabecera,logo de pagina,menucabecera
*/
.cabecera{
    width: 100%;
    text-align: center; 
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

audio,canvas,iframe,
img,svg,video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
    min-height: 60px;
    max-height: 80px;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    margin: auto;
    width: 1450px;
    -webkit-box-shadow: 0px 0px 96px -2px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 96px -2px rgba(0,0,0,1);
    box-shadow:  0px 0px 96px -2px rgba(0,0,0,1);
    border: 2px solid #000;
}

.wrapper {
    width: 100%;
    margin: 0 1%;
}


.header-container {
    border-bottom:  2px solid #000;
    border-top: 2px solid #000;
}

.footer-container {
    text-align: center;
    border-top: 2px solid #000;
}

.header-container,
.footer-container {
    background: #18A7E0;
}

nav {
    margin: auto;
    width: 90%;
    padding: 20px;
    list-style-type: none;
    padding-bottom: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li#li1 {
    float: left;
    overflow: hidden;
    font-size: 20px;
}
li#li2 {
    float: right;
    overflow: hidden;
    font-size: 20px;
}

li#li23 {
    float: right;
    overflow: hidden;
    font-size: 20px;
}
li a {
    display: block;
    color: white;
    text-decoration: none;
}
div.barra{
    position: absolute;
    -webkit-transition: width 1.2s;
}

.menu{
    margin:auto;
    position: relative;
    padding:16px;
    padding-right: 10px;
    float:right;
    color:white;
    font-size: 40px;
}
.menux{
    margin:auto;

    padding:8px;

    float:right;
    color:white;

}

.menu:hover {
    background-color:black;
}

::-webkit-input-placeholder{
    color: #e2e2e2;
    text-align: left;
    opacity: .9;
}

li:hover p.menu{
    opacity: 1;
}   

.main {
    padding: 30px 0;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

.header-container,
.main aside{
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

form input{
    font-size: 25px;
    width: 80%;
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
    font-family : inherit;
    color: black;

}


/**imagen de perfil**/

.centrar{
    margin-left: 95px;
}
.avatar{
    height: 100px;
    width: 100px;
    background: url(../img/log.jpg);
    background-repeat: no-repeat;
    border: 4px solid #003366;;
    background-size: 100% auto;
    background-color: #ffffff;
}


/**DIV del Navegador lateral izd**/
#columizd{
    float: left;
    width: 300px;
    text-align: center;
    margin-left: 20px;

}
/**DIV del Navegador lateral drch**/
#columdercha{
    float:left;
    width: 1060px;
    margin-left: 20px;
    text-align: center;
    margin-top: 40px;

}
#columdercha2{
    float:left;
    width: 1060px;
    height: 1480px;
    margin-left: 20px;
    text-align: center;
    margin-top: 40px;

}
#usuario{
    font-size: 25px;
}
.fotoArticulo{
    width: 10%;
}

#descrip{
    font-size   : 25px;
    font-size   : 25px;
    width: 60%;
    height: 60px;
}


#descripc{
    font-size   : 25px;

    font-size   : 25px;
    width: 60%;
    height: 60px;
}


.form1{
    margin-top: 30px;
}

/**Navegador lateral**/

#nav {
    width : 240px; 
    list-style-type: none;
}

.li3 {
    overflow: hidden;
    font-size: 20px;

}

.li3 a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}
div.barra2{
    position: absolute;
    -webkit-transition: width 1.2s;
}

.menu2{
    border-bottom: 1px solid #000000;
    text-align: center;
    position: relative;
    padding:16px;

    color:white;
    font-size: 1.2em;

}

#li3:hover p.menu{
    opacity: 1;
}
#validarArt,#confEdit {
    margin-bottom:  20px;
}

/* 
    cuadro para mostrar todos los articulos del usuario
*/
.articulos{
    margin-top: 25px;
    height: 600px;
    float:left;
    width: 1040px;
    margin-left: 20px;
    text-align: center;

}

.tabla{ 
    margin:auto;
    width: 100%;
    text-align: center;
}



.titulos{
    text-align: center;
    height: 5px;
}

.columnas1{
    border: 1px solid #000000;
    width: 1px;
}

.columnas2{
    border: 1px solid #000000;
    width: 75%;
}
.columnas3{
    border: 1px solid #000000;
    width: 10px;
}

.unArticulo{
    text-align: center;
    height: 5px;
}

.columnasArt1{
    border: 1px solid #000000;
    width: 1px;
}

.columnasArt2{
    border: 1px solid #000000;
    width: 75%;
}
.columnasArt3{
    border: 1px solid #000000;
    width: 10px;
}


#validarArt{
    width: 20%;
}

#comprobar{
    font-size: 15px;
    font-family : inherit;
    margin-left: 20px;
    width: 110px;
    height: 50px;
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
}

#fotoPerfil{
    height: 280px;
    width: 280px;
    border-style:dashed;
    margin-top: 40px;
    margin: 0 auto;
    outline: none;
    color: black;
    font-size: 1.2em;
    text-align: right;
    background-size: 200px;
    background-image: url(../img/subirImg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: background-position .2s;
    
}

#fotoPerfil:focus{
    background-position: 900px 15px;
}

.text{
    color: #e2e2e2;
    margin-top: 230px;
    text-align: center;
    opacity: 9.0;
}
#modificarFotoArt{
    height: 280px;
    width: 280px;
    border-style:dashed;
    margin-top: 40px;
    margin: 0 auto;
    outline: none;
    color: black;
    font-size: 1.2em;
    text-align: right;
    background-size: 200px;
    background-image: url(../img/subirImg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: background-position .2s;
    opacity: .6;
}

#modificarFotoArt:focus{
    background-position: 900px 15px;
}


#fotoArticulo{
    height: 280px;
    width: 280px;
    border-style:dashed;
    margin-top: 40px;
    margin: 0 auto;
    outline: none;
    color: black;
    font-size: 1.2em;
    text-align: right;
    background-size: 200px;
    background-image: url(../img/subirImg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: background-position .2s;
    opacity: .6;
}

#fotoArticulo:focus{
    background-position: 900px 15px;
}


.form-input, .error, .fecha, #genero, #categoriaArt{
    width: 30%; 
    height: 39px; 
    -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
    -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
    border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
    background-color: #fff; 
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    border: solid 1px #cbc9c9;
    margin-left: -5px;
    margin-top: 13px; 
    padding-left: 10px;
    font-family : inherit;
    font-size   : 25px;
}

.error{
    border:  solid 2px red;
}

.error:focus {
    outline: 0px;
}

.boton {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 200px;
}

.boton:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

input#precio{


    background-image: url(../img/euro.png);
    background-repeat: no-repeat;
    background-position: 290px;

}


input#precios{


    background-image: url(../img/euro.png);
    background-repeat: no-repeat;
    background-position: 290px;

}
#NombreArti, #categoriaArti{
    width: 40%; 
    height: 39px; 
    -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
    -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
    border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
    background-color: #fff; 
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    border: solid 1px #cbc9c9;
    margin-left: -5px;
    margin-top: 13px; 
    padding-left: 10px;
    font-family : inherit;
    font-size   : 25px;
}